.box {
  width: 100px;
  height: 100px;
  background-color: tomato;
  border-radius: 10px;
  transition: transform 0.5s;
}
  .box:hover{animation: rotateBox 0.5s linear infinite;
    opacity: 0.2;
    
}
@keyframes rotateBox {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.shape {
  width: 100px;
  height: 100px;
  background-color: brown;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.shape:hover {
  border-radius: 0;
  background-color: teal;
  transform: rotate(360deg);
}
/* button:hover {
  background-color: blue;
  color: white;
}
a:hover {
  color: red;
  text-decoration: underline;
} */
