* {
  margin: 0;
  padding: 0;
}

/* header section */
#header-section {
  width: 100%;
  padding: 22px 0;
  box-shadow: 0px 6px 70px rgba(30, 40, 52, 0.08);
}

header {
  display: flex;
  width: 85%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
.nav-ul {
  display: flex;
  gap: 45px;
  list-style: none;
  justify-content: space-around;
}
.nav-ul li{
  text-decoration: none;

}
.nav-ul li button {
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
  padding: 8px 10px;
  border-radius: 7px;
  position: relative;
  bottom: 5px;
}

/* hero section */
#hero-section h1 {
  font-size: 60px;
  font-weight: 900;
  width: 700px;
  color: #f00;
  line-height: 1.4;
  background-clip: text;
  background: linear-gradient(97.1deg, #c41740 4.8%, #ea9c28 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#hero-section {
  justify-items: center;
  text-align: center;
}
#hero-section p {
  font-size: 18px;
}
.meet {
  border: none;
  background-color: rgb(220, 228, 236);
  border-radius: 10px;
  padding: 5px 10px;
  position: relative;
  top: 15px;
}

/* blog section */
button {
  background-color: white;
  border: 1px solid white;
  padding: 5px 8px;
  border-radius: 5px;
}

.blogs-section {
  background-color: rgb(245, 241, 241);
  padding: 25px 0;
}
.view-all {
  width: 65%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.blogs-container {
  width: 65%;
  margin: 40px auto;
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  flex-direction: column;
}
.blog {
  padding: 20px;
  width: 94%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.blog-texts {
  width: 70%;
}
.blog-texts h2 {
  margin-top: 12px;
}
.blog-texts p {
  margin-top: 15px;
  color: grey;
}
.blog-image {
  width: 28%;
}
.blog-texts span {
  color: grey;
  font-size: 13px;
}
/* footer */
.footer h2 {
  padding-top: 20px;
  color: red;
  background: linear-gradient(97.1deg, #c41740 4.8%, #ea9c28 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 27px;
  text-align: center;
}
.footer p {
  padding-top: 15px;
  text-align: center;
}
.footer,
.button-footer {
  padding-top: 28px;
  justify-items: center;
}
.button-footer {
  height: 58px;
}
.btn {
  background-color: rgb(56, 53, 53);
  color: white;
}
.hr-div {
  font-size: 12px;
  text-align: center;
  padding-top: 20px;
}
.menu-icon {
  display: none;
}
/* Responsive design */
@media (max-width: 768px) {
  #logo {
    width: 100px;
  }
  .menu-icon {
    display: block;
    position: absolute;
    left: 400px;
  }
  .menu-icon:hover + .nav-ul,
  .nav-ul:hover {
    display: inline-block;
  }
  .nav-ul {
    display: none;
    position: relative;
    top: 25px;
    right: -10px;
    background-color: #aaa;
    text-align: left;
  }
}
.nav-ul li {
  padding-bottom: 5px;
}
#desktop-nav:hover {
  display: flex;
}
#hero-heading {
  font-size: 50px;
}
.blogs-container {
  width: 80%;
  align-items: center;
}
.blog {
  width: 100%;
  flex-direction: column-reverse;
  gap: 20px;
}
.blog-texts {
  width: 100%;
}
.blog-image {
  width: 100%;
  padding: 0;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}
